<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="logout">
    <form action="{% url 'home'%}" method="post">
    {% csrf_token %}
    <input type="submit" value="Home">
    </form>
</div>

<center><h1>Client list</h1></center>
<font color="green">*Client =  root means Compeny<br></font>

<table border="1"cellpadding="10" >
    <tr>
        <td>Client id</td>
        <td>Client name</td>
        <td>Client E-mail</td>
        <td>Client Phone</td>
        <td>Client City </td>
        <td>Client Created</td>
        <td>Client Modify</td>

    </tr>
    {% for temp in role1 %}
    <tr>
        <td>{{temp.clientid}}</td>
        <td>{{temp.clientname}}</td>
        <td>{{temp.email}}</td>
        <td>{{temp.phone}}</td>
        <td>{{temp.clientcity}}</td>
        <td>{{temp.created}}</td>
        <td>{{temp.modify}}</td>
    </tr>
    {% endfor %}
</table>




</body>
</html>